html, body{
    font-family: 'Roboto', sans-serif;   
    margin: 0;
    padding: 0; 
}

:root{
    --dark: #5b359d;
    --light: #bdaed8;
}

a{
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

header .nav{
    display: flex;
}

header .nav .accueil{
    margin-right: 10px;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero{
    display: flex;
    width: 100%;
    height: 524px;    
    justify-content: center;
    align-items: center;
    background-image: url('img/backgroung_image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.logo_bck{
    margin: 0 auto;
    width: 160px;
}

.logo_bck img{
    width: 100%;
}

.brand{
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

.presentation{
    max-width: 550px;
    text-align: center;
    margin-top: 70px;
}

.highlights{
    display: flex;
    margin-top: 70px;
    max-width: 550px;
}

.bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights .name{
    text-transform: uppercase;
    margin: 20px 0;
}

.highlights .description{
    font-size: 12px;
    text-align: center;
}

.strategie{
    margin: 0 20px;
}


.testimonial{
    margin-top: 70px;
    max-width: 450px;
    text-align: center;
    margin-bottom: 10px;;
}

.testimonial .temoin{
    margin-top: 10px;
    font-size: 12px;
}


footer{
    background-color: var(--dark);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer .base{
    font-size: 10px;
}

footer .social{
    display: flex;
    color: var(--light);
    width: 265px;
    justify-content: space-around;
    margin-top: 10px;
}

footer .social div{
    font-size: 24px;
}

.themes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 12px;
}

.theme .titre{
    color: var(--light);
    margin-bottom: 5px;
}

.theme .contenu {
    color: white;
}

.theme a{
    color: white;
}

ul{
    margin-top: 0;
}

