html, body{
    font-family: 'Roboto', sans-serif;   
    margin: 0;
    padding: 0; 
}

h1{
    color: red;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}

header .nav{
    display: flex;
}

header .nav .accueil{
    margin-right: 10px;
}